/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  color:white;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.customnav {
    background-color: #191b1c;
}

.fullbody {
    background-color: #191b1c;
}

body a {
    text-decoration-line: none;
    color: darkgrey;
}
a:hover{
    color: white;
}

body{
    color:white;
    font:white;
}

.detailbox {
    background-color: #141414;
    padding: 5px;
    border: 1px solid #141414;
    border-radius: 8px;
}

/*.wrapper{
    max-height:120px;
    border:1px solid #ddd;
    display: flex;
    overflow-x:auto;
}

.wrapper::-webkit-scrollbar{
    width:0;
}

.wrapper menuitem{
    min-width:110px;
    height:110px;
    line-break 
*/
.searchbar {
    border-radius: 10px;
    background-color: 141414;
}